* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar-logo {
    height: 10rem;
    padding: 2px;
}

.navbar-default .navbar-toggle {
    margin-top: 30px;
}

/* MID SECTION */

.mid-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
}

.mid-section h2 {
    font-family: bebas neue;
}

.welcome-page-text {
    max-width: 800px;
    padding: 10px;
    text-align: center;
}

.welcome-page-image img {
    max-width: 400px;
    /* min-width: 500px; */

}

/* CALL TO ACTION */

.call-to-action-section {
    margin-top: 5rem;
    background-color: #F1F5F9;
    border: 10px solid rgb(223, 0, 3);
}

.call-to-action-section h2 {
    padding-top: 5rem;
}

.call-to-action {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1300px;
}

.call-to-action-section h2 {
    margin: auto;
    font-family: bebas neue;
    text-align: center;
}

.call-to-action-styles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

.fa-solid {
    color: rgb(223, 0, 3);
}

.connect {
    padding: 5px;
}

/* ABOUT PAGE */

.about-container {
    text-align: center;
    margin: auto;
    max-width: 800px;
}

/* SERVICE PAGE */

.video-container {
    margin: auto;
}

video {
    height: 100%;
    width: 100%;
    max-width: 1170px;
  }



.services-container {
    margin: auto;
    display: flex;
    text-align: center;
    max-width: 1170px;
    flex-direction: column;
}

.service-box {
    background-color: #F1F5F9;
    border-bottom: 1px solid black;
}

.services-container p {
    padding: 10px;
    max-width: 1170px;
}

/* CONTACT */

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(223, 0, 3);;
    width: 100%;
    opacity: 80%;
    margin-top: 5rem;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
}

.container h3 {
    text-align: center;
}

.form-group {
    width: 100%;
    margin-top: 20px;
}

.form-group input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(223, 0, 3);;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
    background-color: rgb(223, 0, 3);;
    color: white;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

#status {
    width: 50%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    color: black;
}



/* FOOTER */
footer {
    display: flex;
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    margin-top: 5rem;
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    flex: 1;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem
        /*200px*/
    ;
}

.ft-social {
    text-align: center;
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 2rem;
}

/* LEGAL */

/* .ft-legal {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
} */

/* one before the last child
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
*/



/* MEDIA QUERIES */
@media (min-width: 768px) {
    .navbar-collapse {
        float: right;
        margin-top: 25px;
    }

    /* MID SECTION */
    .mid-section {
        justify-content: center;
        flex-direction: row;
    }

    /* CALL TO ACTION */

    .call-to-action h2 {
        margin: auto;
    }

    .call-to-action {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .call-to-action-section {
        background-color: #F1F5F9;
        border: none;
    }

    /* ABOUT PAGE */

    /* SERVICES PAGE */

    .services-container {
        margin-top: 2rem;
    }

    .service-box {
        margin-top: 2rem;
        border-bottom: none;
    }

}